<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Сервис для создания отчетов FreeStyle Libre по даннм программы Glimp">
        <meta name="Keywords" content="Glimp,freestyle,libre,glucose,report,generate,отчет,создание,глюкоза,графики,показатели">
        <title>Freestyle Libre Reporter for Glimp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        {% block head_js %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" title="Вернуться на главную страницу">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    </a>
                    <p class="navbar-text">Freestyle Libre Reporter for Glimp (only)</p>
                    <p class="navbar-text"><a href="http://freestyle-libre.appspot.com/">If you need Reporter for Freestyle LibreReader</a></p>
                </div>
                <a class="navbar-brand navbar-right" href="mailto:vlad.matvienko@gmail.com" title="Связаться с разработчиком">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </a>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        {% block js %}{% endblock js %}
    </body>
</html>
